{% extends 'base.html.twig' %}

{% block title %}Tutti i post
{% endblock %}

{% block body %}

	{% if posts|length > 0  %}
		{% for key,post in posts %}
			<div>
				<a href=" {{ path('app_micro_post_show', {id: post.id}) }} ">{{post.title}}</a>
			</div>
			{# {{ include('main/_variabili.html.twig', {message:  variabile}) }} #}
		{% endfor %}
	{% else %}
		<h2>Non ci sono saluti</h2>
	{% endif %}
{% endblock %}
